@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,900&family=Roboto:wght@400;500;600;700;900&family=Open+Sans:wght@600;700;800&family=Inter:wght@400&display=swap');

@theme {
  --font-sans: 'Roboto', system-ui, sans-serif;
  --font-condensed: 'Roboto Condensed', sans-serif;
  --font-open-sans: 'Open Sans', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #272626;
}
